*.class

challenge_2/ConferreDataAccess/nbproject/private/
challenge_2/ConferreDataAccess/build/
challenge_2/ConferreDataAccess/nbbuild/
challenge_2/ConferreDataAccess/dist/
challenge_2/ConferreDataAccess/nbdist/
challenge_2/ConferreDataAccess/nbactions.xml
challenge_2/ConferreDataAccess/nb-configuration.xml
challenge_2/ConferreDataAccess/.nb-gradle/

challenge_2/ConferreBusinessLogic/nbproject/private/
challenge_2/ConferreBusinessLogic/build/
challenge_2/ConferreBusinessLogic/nbbuild/
challenge_2/ConferreBusinessLogic/dist/
challenge_2/ConferreBusinessLogic/nbdist/
challenge_2/ConferreBusinessLogic/nbactions.xml
challenge_2/ConferreBusinessLogic/nb-configuration.xml
challenge_2/ConferreBusinessLogic/.nb-gradle/

challenge_2/ConferrePresentation/nbproject/private/
challenge_2/ConferrePresentation/build/
challenge_2/ConferrePresentation/nbbuild/
challenge_2/ConferrePresentation/dist/
challenge_2/ConferrePresentation/nbdist/
challenge_2/ConferrePresentation/nbactions.xml
challenge_2/ConferrePresentation/nb-configuration.xml
challenge_2/ConferrePresentation/.nb-gradle/

challenge_2/ConferreSupport/nbproject/private/
challenge_2/ConferreSupport/build/
challenge_2/ConferreSupport/nbbuild/
challenge_2/ConferreSupport/dist/
challenge_2/ConferreSupport/nbdist/
challenge_2/ConferreSupport/nbactions.xml
challenge_2/ConferreSupport/nb-configuration.xml
challenge_2/ConferreSupport/.nb-gradle/
